
.center_heart{
    width: fit-content;
    height: fit-content;
    margin: auto;
}
.center_heart.i{
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.home_form{
    display: flex;
    font-size: 24px;
    padding: 0 30px 10px;
    margin: auto;
    max-width: 90%;
    @media (max-width: 640px){
        max-width: 90%;
        padding: unset;
        padding: 20px;
    }
    form{
        width: 100%;
    }
    .center_div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .submit_button{
        margin-top: 20px;
        height: 50px;
        width: 70px;
        border-radius: 10px;
        background-color: #ffe4c4;
        border-style: solid;
        border-color:#b3b300;
    }
    .input_fields{
        display: flex;
        justify-content: space-evenly;
    }
    .results{
        display: flex;
        text-align: center;
    }
    .question{
        display: flex;
        justify-content: center;
        p{
            margin: 0 0 10px;
        }
    }
}

.home_form_container{
    margin: 280px auto;
    max-width: 300px;
    background-color: #ffffe6;
    border-radius: 20px;
    border-color: #7fffd4;
    border-width: 5px;
    border-style: solid;
    @media (max-width: 640px){
        max-width: 90%;
        margin: 260px auto;
        
    }
    i{
        display: flex !important;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}   


.intro {
    /* background: url('images/Messenger_creation_0a0e5953-2596-4ce2-800d-0d4be0bce381.jpeg'); */
      background-size: cover;
      height: 100px;
      position: relative;
      z-index: -1;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .tulips {
      bottom: 10px;
      margin: unset;
      left: 0;
      overflow: hidden;
      position: relative;
      width: fit-content;
      z-index: 1;
      @media (max-width: 640px){
        bottom: -150px;
      }
  }
  
  .tulips_hide {
    bottom: 10px;
    margin: unset;
    left: 0;
    overflow: hidden;
    position: relative;
    width: fit-content;
    z-index: 1;
    @media (max-width: 640px){
      bottom: -150px;
      display: none;
    }
}
  .stemEnd1, .stemEnd2, .stemEnd3, .stemEnd4 {
    visibility:hidden;
  }
  